/* 02_home.css */
/* 아래에 코드를 작성해 주세요. */
img {
    max-width: 100%;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }

  .fixed {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 15px;
  }
